<!-- <h2>First Angular App - change</h2>
<h2>{{title}}</h2>
<my-date></my-date> -->
<!-- <app-badge></app-badge>
<app-badge caption="Inbox" count="22"></app-badge>
<app-badge caption="Sent" count="33"></app-badge>
<app-badge caption="Spam" count="3443"></app-badge> -->
<!-- 
 -->

 <!-- <div class="container">
  <div class="row">
  
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">Search Employee </span>
      </div>
      <input type="text" #name (keyup)="0" class="form-control" placeholder="Enter a name here" aria-label="Username" aria-describedby="basic-addon1">


    </div> 
   
      <app-card *ngFor="let course of courses | search:name.value" caption="{{course.name}}" summary="{{course.salary}}" id="{{course.id}}"></app-card>
      
      
    
  </div>
</div> -->
<!-- <p>App component</p> -->

<hr/>
<!-- <app-first data="{{alphabets}}" (loaded)="handleLoadedEvent($event)"></app-first> -->
<!-- <app-first data="{{alphabets}}"></app-first>
<hr/>
<app-second data="{{alphabets}}"></app-second> -->

<app-country></app-country>
