<h2  *ngIf="!editMode">Add Employee</h2>
<h2  *ngIf="editMode">Update Employee</h2>

<div *ngIf="showMessage" class="alert alert-success" role="alert">
    Employee has been added successfully!!
</div>

<div [formGroup]="myForm"> 
  <input type="text" hidden formControlName = "id" class="form-control">
<div class="input-group flex-nowrap">
    <div class="input-group-prepend">
      <span class="input-group-text" id="addon-wrapping">Employee Name</span>
    </div>
    <input type="text" formControlName = "name" class="form-control" placeholder="Enter name" aria-label="name" aria-describedby="addon-wrapping">
    <span *ngIf="myForm.controls['name'].invalid && (myForm.controls['name'].dirty || myForm.controls['name'].touched)" class="alert alert-danger">Name is missing</span>
</div>

<div class="input-group flex-nowrap">
<div class="input-group-prepend">
    <span class="input-group-text" id="addon-wrapping">Employee Salary</span>
  </div>
  <input type="number" formControlName = "salary" class="form-control" placeholder="Enter salary" aria-label="name" aria-describedby="addon-wrapping">
</div>
<button *ngIf="!editMode" type="button" class="btn btn-primary" [disabled]="myForm.invalid" (click)="addEmployee()">Add Employee</button>
<button *ngIf="editMode" type="button" class="btn btn-primary" [disabled]="myForm.invalid" (click)="updateEmployee()">Update Employee</button>
</div>

<hr/>
<input type="text" #logMessage placeholder="Enter log message"/>
<button (click)="log(logMessage.value)">Log Message</button>
<hr/>
<p *ngFor="let message of logService.logs">{{message}}</p>
<!-- <p *ngFor= "let option of employeeService.sharedData.question[0].option">{{option.name}}</p> -->

<hr>
<form class="example-form">
  <mat-form-field class="example-full-width">
    <mat-label>Favorite food</mat-label>
    <input matInput placeholder="Ex. Pizza" value="Sushi">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>Leave a comment</mat-label>
    <textarea matInput placeholder="Ex. It makes me feel..."></textarea>
  </mat-form-field>
</form>


<mat-progress-bar  value="23"></mat-progress-bar>
