<?xml version="1.0" encoding="UTF-8"?>


<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
 http://www.springframework.org/schema/beans/spring-beans.xsd
 http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
 http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
 http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd
 http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">

	<context:component-scan base-package="com.ibm"></context:component-scan>
	
	<bean id="b" class="com.ibm.B"></bean>
	<bean id="a" class="com.ibm.A">
		<constructor-arg  name="b" ref="b"></constructor-arg>
	</bean>
	
	<!-- <bean id="paymentRepository" class="com.ibm.PaymentRepository"></bean>
	<bean id="paymentService" class="com.ibm.PaymentService">
		<property name="paymentRepo" ref="paymentRepository"></property>
		<constructor-arg  name="paymentRepo" ref="paymentRepository"></constructor-arg>
	</bean> -->
	
</beans>