<h2>View Employees</h2>

<div *ngIf="showMessage" class="alert alert-success" role="alert">
    Employee has been deleted successfully!!
</div>
<ul class="list-group">
    <li class="list-group-item" *ngFor="let employee of employees"> <p>{{employee.id}} : {{employee.name}} - {{employee.salary}} <button class="btn btn-danger" (click)="deleteEmployee(employee.id)"> X </button><button class="btn btn-warning" (click)="editEmployee(employee)"> Edit </button></p></li>
   
  </ul>

  <hr/>
  <input type="text" #logMessage placeholder="Enter log message"/>
  <button (click)="log(logMessage.value)">Log Message</button>
  <hr/>
  <p *ngFor="let message of logService.logs">{{message}}</p>